@media screen and (min-width:768px) {
    .section-header {
        width: 100%;
        background-color: rgba(241, 221, 244, 1);
        padding-top: 24px;
    }
    .section-wrap {
        max-width: 1340px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 34px;
    }
    .block-half {
        width: 50%;
    }
    .section-slider {
        width: 100%;
    }
    .slide {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .wrap-button-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-buy {
        width: 277px;
        height: 59px;
    }
    .old-price-buy {
        display: none;
    }
    .buy-price {
        display: none;
    }
    .section-wrap-bot {
        display: flex;
        flex-direction: column;
    }
    .wrapper {
        display: flex;
        justify-content: flex-end;
        background: url(image/image-manual.png);
        background-color: rgba(244, 196, 252, 1);
        background-position: left;
        background-size: 53%;
        background-repeat: no-repeat;
    }
    .wrap-counter_timer {
        display: flex;
        justify-content: flex-start;
    }
    .slide-one {
        background: url(image/Dsmile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
        width: 100%;
    }
    .product-info_title {
        padding-top: 0px;
    }
    .product-info {
        margin-left: 15px;
    }
    .wrap-timer {
        padding-right: 50px;
    }
    .image {
        display: none;
    }
    .wrap-section-manual {
        background-color: transparent;
        width: 52%;
    }
    .block-wrap {
        max-width: 461px;
        border-radius: 0 100px 100px 0;
    }
    .section-instuction-block {
        margin-top: 15px;
    }
    .wrap-section-manual {
        margin: 30px 0px 30px 0px;
    }
    .block-text {
        padding-right: 38px;
    }
    .block-number {
        margin-right: 30px;
    }
    .button-buy {
        margin-left: 43px;
    }
    .product-info_text {
        padding-right: 82px;
    }
    .wrap-counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .counter-text {
        margin-right: 8px;
    }
    .wrap-price.mobile {
        display: none;
    }
    .mobile {
        display: none;
    }
    .wrap-price {
        display: flex;
        align-items: flex-start;
    }
    .wrap-desktop {
        display: flex;
        flex-direction: column-reverse;
    }
    .old-price {
        margin-left: 10px;
    }
    .wrap-timer {
        margin-bottom: 50px;
        padding-left: 30px;
    }
    .desktop {
        display: flex;
        justify-content: space-between;
    }
}